html,body{
    margin: 0;
    padding: 0;
    // font-size: 12px;
    header{
        width: 100%;
        height: 118px;
        background-color: #f5f5f5;
        .backColor{
            width: 100%;
            height: 40px;
            .head_info{
            width: 1080px;
            height: 40px;
            margin: 0 auto;
            .link{
                float: left;
                a{
                    line-height: 40px;
                    color: #333;
                    font-size: 12px;
                    margin-right: 14px;
                    text-decoration: none;
                }
            }
            .user_info{
                float: right;
                a{
                    line-height: 40px;
                    color: #333;
                    font-size: 12px;
                    margin-left: 14px;
                    text-decoration: none;
                    &.myorder{
                        margin: 0;
                    }
                }
            }
        }
        }

        .container{
            height: 76px;
            width: 100%;
            background-color: white;
            .head_nav{
                margin: 0 auto;
                width: 1080px;
                height: 76px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a{
                    justify-content: start;
                    img{
                        width: 193px;
                        height: 51px;
                    }
                }
                .head_right{
                    width: 380px;
                    .search_box{
                        float: left;
                        width: 244px;
                        height: 36px;
                        border-radius: 18px;
                        padding: 0 16px;
                        font-size: 16px;
                        box-sizing: border-box;
                        position: relative;
                        background-color: #f2f2f2;
                        input{
                            width: 120px;
                            height: 36px;
                            border: none;
                            background-color: #f2f2f2;
                            outline: none;
                            box-sizing: border-box;
                            font-size: 12px;
                        }
                        .carousel{
                            position: absolute;
                            right: 42px;
                            top: 0px;
                            width: 65px;
                            height: 36px;
                            text-align: center;
                            font-size: 12px;
                            color: #fa4187;
                            line-height: 36px;
                            display: flex;
                            justify-content: center;
                            // position: relative;
                            // overflow: hidden;
                            .box{
                                position: relative;
                                width: 65px;
                                height: 36px;
                                overflow: hidden;
                                // border: 1px solid;
                                ul{
                                    // overflow: hidden;
                                    width: 65px;
                                    height: 36px;
                                    padding: 0;
                                    margin: 0;
                                    list-style: none;
                                    position: absolute;
                                    top: 0;
                                    font-size: 12px;
                                    li{
                                        width: 65px;
                                        white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
                                    }
                                }
                            }
                            
                        }
                        i{
                            width: 17px;
                            height: 17px;
                            cursor: pointer;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                    .cart{
                        float: right;
                        margin-left: 10px;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        width: 126px;
                        height: 36px;
                        color: #fff;
                        border-radius: 18px;
                        background: #333;
                        line-height: 36px;
                        i{
                            width: 17px;
                            height: 17px;
                            cursor: pointer;
                            margin-top: 10px;
                            
                        }
                    }
                }
                
            }
            .header_space{
                height: 2px;
                border: 0;
                width: 100%;
                background: linear-gradient(90deg,#0ff,#00b1ff 34%,#4e73ff 65%,#ff00d0);

            }
        }
    }
    footer{
        height: 453px;
        width: 100%;
        background-color: #333;
        .guarantee{
            border-top: 1px solid #ccc;
            width: 100%;
            height: 124px;
            background-color: #fff;
            .guarantee-box{
                height: 124px;
                width: 1080px;
                background-color: #fff;
                margin: 0 auto;
                display: flex;
                    justify-content: space-around;
                    align-content: center;
                div{
                    float: left;
                    display: flex;
                    align-items: center;
                    color: #fa4187;
                    img{
                        width: 55px;
                        height: 55px;
                        margin-right: 12px;
                    }
                }
            }
        }
        .foot{
            width: 100%;
            height: 328px;
            padding: 40px 0 28px;
            .foot_box{
               
                width: 1080px;
                height: 184px;
                margin: 0 auto;
                color: #fff;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                h2{
                    font-size: 18px;
                    margin-bottom: 12px;
                    font-weight: normal;
                }
                .foot_btn{
                    width: 204px;
                    height: 42px;
                    background-color: #fff;
                    color: #333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 28px;
                }
                .line{
                    width: 1px;
                    height: 78px;
                    background:#666;
                }
                img{
                    height: 105px;
                    width: 105px;
                    margin-bottom: 18px;

                }
                .foot_msg{
                    @extend .foot_btn;
                    font-size: 12px;
                    width: 146px;
                    height: 22px;
                    
                }
            }
            .agreement{
                margin: auto;
                text-align: center;
                margin-top: 25px;
                font-size: 12px;
                color: #999;
                margin-bottom: 5px;
                a{
                    color: #999;
                }
            }
            .foot_right{
                text-align: center;
                color: #999;
                font-size: 12px;
                line-height: 15px;
                width: 750px;
                margin: 0 auto;
            }
        }
    }
}